# Example 3

SUM()

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../data_base.db')
cur = con.cursor()

## SQL statement

In [6]:
# The SUM() function returns the total sum of a numeric column. 

query = '''
            SELECT SUM(Quantity)
            FROM order_details
        '''

## Show table

In [7]:
order_details = pd.read_sql_query(query, con)
order_details.head()

   SUM(Quantity)
0          12743

## Close the connection

In [ ]:
# Save (commit) the changes
con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
con.close()