# Example 1

Create Table

## Import libraries

In [5]:
import sqlite3
import pandas as pd

## Create a connection object

In [6]:
con = sqlite3.connect(":memory:")
cur = con.cursor()

## SQL statement

In [7]:
# The CREATE TABLE statement is used to create a new table in a database.
# The PersonID column is of type int and will hold an integer.
# The LastName, FirstName, Address, and City columns are of type varchar and will hold characters, and the maximum length for these fields is 255 characters.

query = '''
            CREATE TABLE Persons   (PersonID int,
									LastName varchar(255),
									FirstName varchar(255),
									Address varchar(255),
									City varchar(255))
        '''

cur.execute(query)

# A copy of an existing table can also be created using CREATE TABLE.
# The new table gets the same column definitions. All columns or specific columns can be selected.
# If you create a new table using an existing table, the new table will be filled with the existing values from the old table.
# CREATE TABLE new_table_name AS
#     SELECT column1, column2,...
#     FROM existing_table_name
#     WHERE ....;

## Show table

In [8]:
customers_df = pd.read_sql_query('''SELECT * FROM Persons''', con)
customers_df.tail()

Empty DataFrame
Columns: [PersonID, LastName, FirstName, Address, City]
Index: []

In [9]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PersonID   0 non-null      object
 1   LastName   0 non-null      object
 2   FirstName  0 non-null      object
 3   Address    0 non-null      object
 4   City       0 non-null      object
dtypes: object(5)
memory usage: 0.0+ bytes

## Close the connection

In [11]:
# Save (commit) the changes
# con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
con.close()