# Example 1

MIN()

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../data_base.db')
cur = con.cursor()

## SQL statement

In [3]:
# The MIN() function returns the smallest value of the selected column.

query = '''
            SELECT MIN(Price) AS SmallestPrice
            FROM Products
        '''

## Show table

In [4]:
products_df = pd.read_sql_query(query, con)
products_df.head()

   SmallestPrice
0            2.5

## Close the connection

In [6]:
# Save (commit) the changes
con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
con.close()