# Example 1

Using the % Wildcard

## Import libraries

In [1]:
import sqlite3
import pandas as pd

## Create a connection object

In [2]:
con = sqlite3.connect('../data_base.db')
cur = con.cursor()

## SQL statement

In [3]:
# A wildcard character is used to substitute one or more characters in a string.
# Wildcard characters are used with the LIKE operator. The LIKE operator is used in a WHERE clause to search for a specified pattern in a column.
# % -> Represents zero or more characters	-> bl% finds bl, black, blue, and blob

query = '''
            SELECT * FROM Customers
            WHERE City LIKE "ber%"
        '''

## Show table

In [4]:
customers_df = pd.read_sql_query(query, con)
customers_df.head()

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,14,Chop-suey Chinese,Yang Wang,Hauptstr. 29,Bern,3012,Switzerland
2,49,Magazzini Alimentari Riuniti,Giovanni Rovelli,Via Ludovico il Moro 22,Bergamo,24100,Italy

In [5]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    3 non-null      int64
 1   CustomerName  3 non-null      object
 2   ContactName   3 non-null      object
 3   Address       3 non-null      object
 4   City          3 non-null      object
 5   PostalCode    3 non-null      object
 6   Country       3 non-null      object
dtypes: int64(1), object(6)
memory usage: 296.0+ bytes

## Close the connection

In [6]:
# Save (commit) the changes
con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
con.close()